---
import "/public/styles/global.css";
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import fs from 'fs';
import path from 'path';
import matter from 'gray-matter';
import BaseLayout from '../layouts/BaseLayout.astro';
import DateDisplay from '../components/DateDisplay.astro';

import { portfolio } from "../content/portfolio";

const journalismus = portfolio.filter(
  (entry) => entry.category === "journalismus"
);

const lyrik = portfolio.filter(
  (entry) => entry.category === "lyrik"
);
---


<BaseLayout>
  <article class="px-6 py-8 md:px-16 max-w-3xl mx-auto">

    <section class="mb-10">
      <h2 class="text-lg font-semibold mb-4 text-sm p-4">Artikel</h2>

      <ul class="space-y-4">
        {journalismus.map(entry => (
          <li>
            <h3 class="text-base font-medium leading-snug">
              <a
                href={entry.url}
                target="_blank"
                rel="noopener"
                class="underline hover:text-black"
              >
                {entry.title}
              </a>
            </h3>

            <p class="text-sm text-gray-600">
              {entry.publication}
              <span class="text-gray-400"> · {entry.date}</span>
            </p>
          </li>
        ))}
      </ul>
    </section>

    <section>
      <h2 class="text-lg font-semibold mb-4 text-sm p-4">Lyrik</h2>

      <ul class="space-y-4">
        {lyrik.map(entry => (
          <li>
            <h3 class="text-base font-medium leading-snug">
              <a
                href={entry.url}
                class="underline hover:text-black"
              >
                {entry.title}
              </a>
            </h3>

            <p class="text-sm text-gray-500">
              {entry.date}
            </p>
          </li>
        ))}
      </ul>
    </section>
  </article>
</BaseLayout>